extends layout

block content
  title 브로든 인증 완료

  .wrap
    .wrap_certify
      h1
        | 회원가입이
        br
        span.b_font 완료
        | 되었습니다.
      p.p_font 
        | 브로든 앱을 접속하세요.
        | 당신에게 특별한 일들이 찾아오길 바랍니다.